// General Classes

// Базовые классы

.container {
    width: 100%;
    max-width: calc($containerWidth + $containerPadding * 2);
    padding: 0 $containerPadding;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        display: inline-block;
        width: 9.36044rem;
        height: 3.01963rem;
        background-image: url("../images/logo.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

}

.none {
    display: none !important;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    * {
        cursor: not-allowed;
    }
}

// Классы инпутов

.theme-checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &__night-icon {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        color: $gray1;
    }

    &__sun-icon {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        color: $primaryColor;
    }
}

.checkbox {

    &__input {
        display: none;
    }

    &__label {
        display: block;
        width: 2.9375rem;
        height: 1.75rem;
        background: $gray1;
        border-radius: 0.875rem;
        padding: 0.38rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s;

        &::before {
            content: "";
            width: calc(50% - 1px);
            height: 100%;
            background: $white;
            border-radius: 50%;
            display: inline-block;
            transition: .3s;
        }
    }

    &__input:checked + &__label {
        background: $primaryColor;
    }

    &__input:checked + &__label::before {
        margin-left: calc(50% + 1px);
    }
}

%input {
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    background: $gray3;
    border-radius: 0.625rem;
    border: 1px solid $gray1;
    color: $black;
    font-size: 1.125rem;
    line-height: 2.25rem;
}

.input {
    position: relative;
    max-width: 100%;
    width: 100%;

    &_single {

        .input__input {
            padding-right: 1rem;
        }
    }

    &_no-background {
        
        .input__input {
            background: none;
        }
    }

    &__mini-title {
        position: absolute;
        top: 0;
        left: 1rem;
        background: $white;
        border-radius: 0.2rem;
        font-size: 0.875rem;
        font-weight: $medium;
        line-height: 0.75rem;
        transform: translate(0, -50%);
        padding: 0.1rem;
    }

    &__input {
        @extend %input;
        border-radius: 0.625rem;
        padding-right: 3rem;
        height: inherit;
        max-width: inherit;
        width: inherit;
        resize: inherit;

        &::placeholder {
            color: $gray4;
        }
    }

    &__btn,
    &__item {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        color: $gray4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        &_drop-down {
            font-size: 1rem;
            transform: rotate(180deg);
        }

        &_drop-down-active {
            transform: rotate(0);
        }

        &::before {
            line-height: 0;
        }
    }

    &__select-block {
        @extend %input;
        border-radius: 0.625rem;
        max-width: inherit;
    }

    &__select-value {
        font-size: 1.125rem;
        line-height: 2.25rem; 
    }
}

.select-input-2 {
    position: relative;

    &__hidden-section {
        width: 100%;
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        z-index: 2;
    }
}

.checkbox-quadro {

    &__input {
        display: none;
    }

    &__label {
        display: inline-flex;
        align-items: center;
        gap: 0.63rem;
        cursor: pointer;

        &::before {
            content: "";
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid $gray4;
            border-radius: 0.25rem;
            transition: .5s;
        }
    }

    &__input:checked + &__label {

        &::before {
            background: $primaryColor;
            border-color: $primaryColor;
        }
    }
}

// Классы текста

.title {
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.title-mini {
    font-size: 1.125rem;
    font-weight: $bold;
    line-height: 2.25rem;
}

// Классы блоков

.block {
    background: $white;
    border-radius: 0.625rem;
    padding: 1.5rem;
}

.block-2 {
    background: $white;
    border-radius: 0.625rem;
    
    & > * {
        padding: 0 1.5rem;
    }
}

.stub {
    width: 100%;
    height: 100%;
    background: $gray1;
    border-radius: 0.625rem;
    position: relative;
}

// Классы кнопок

.btn {
    min-width: 4.72rem;
    background: $primaryColor;
    padding: 0.5rem;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    font-weight: $semibold;
    line-height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    padding: 0.5rem 0.95rem;
    border-radius: 3.125rem;
    background: $gray3;
    border: 1px solid $gray1;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 2.25rem;

    &::before {
        font-size: 1.5rem;
        line-height: 0;
        color: $gray4;
    }
}

.link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $blue2;

    &:hover {
        color: $blue3;
        opacity: 1;
    }
}

.gray-btn {
    width: 100%;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: $semibold;
    padding: 1rem;
    background: $gray5;
    border-radius: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// Классы таблиц


.table-block {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem 0 1rem;
        margin-bottom: 1.5rem;
    }

    &__header-right-section {
        display: flex;
        align-items: center;
        gap: 4.12rem;
    }

    &__btn {
        font-size: 1.125rem;
        line-height: 2.25rem;
    }

    &__content {
        border-bottom: 2px solid $gray3;
        padding: 0 0.5rem 1rem 0.5rem;
    }

    &__footer {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__str-per-page,
    &__change-page,
    &__select-page {
        display: flex;
        align-items: center;
    }

    &__left-section,
    &__right-section {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__input {
        max-width: 4.6875rem;
        width: 4.6875rem;
    }

    &__num-input {
        max-width: 2.6875rem;
        width: 2.6875rem;
    }

    &__select-page {
        gap: 1rem;
    }

    &__str-per-page,
    &__change-page {
        gap: 1rem;
    }

    &__change-page-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__change-page-btn {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $gray4;

        &::before {
            line-height: 0;
        }

        &_unactive {
            color: $gray1;
        }
    }

    &__install-btn {
        padding: 0.5rem 1.75rem;
        font-size: 1.125rem;
        line-height: 2.25rem;
        font-weight: $normal;
    }

    &__import-btn,
    &__export-btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
        background: none;
        border: 2px solid $primaryColor;
    }

    &__header_mini {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

.table {
    width: 100%;

    &_constructor,
    &_attack,
    &_bait-distrubutions-logs {

        .table__cell {
            vertical-align: top;
        }
    }

    &_attack,
    &_trap-installations-logs,
    &_bait-distrubutions-logs {
        border-spacing: 0 0.5rem;
    }

    &__header {
        border-radius: 0.625rem;

        & .table__cell {
            background: $gray5;
        }

        & .table__cell:first-child {
            border-radius: 0.625rem 0 0 0.625rem;
        }

        & .table__cell:last-child {
            border-radius: 0 0.625rem 0.625rem 0;
        }
    }

    &__row {
        border-radius: 0.625rem;
    }

    &__cell {
        padding: 1rem 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
        word-break: break-all;
        
        &_title {
            font-weight: $semibold;
        }

        &_signature {
            max-width: 9.125rem;
        }

        &_settings {
            font-size: 1rem;
            color: $gray4;
        }

        &_hash {
            max-width: 11.625rem;
            width: 11.625rem;
        }

        &_letter-message {
            width: 100%;
            border-radius: 0.625rem !important;
            text-align: left;
            padding: 1rem;
            background: $gray5 !important;
        }

        &_drop-down-active {
            background: $gray5;
            border-radius: 0.625rem 0.625rem 0 0;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 0.5rem;
                background: $gray5;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }

        &_checkbox {
            max-width: 2.1325rem;
            width: 2.1325rem;
        }

        &_option,
        &_start {
            max-width: 5.3125rem;
            width: 5.1325rem;
        }

        &_num {
            max-width: 5.0625rem;
            width: 5.0625rem;
        }

        &_option-2 {
            max-width: 2.25rem;
            width: 2.25rem;
        }

        &_attack {
            max-width: 14.375rem;
            width: 14.375rem;
        }

        &_name {
            max-width: 11.25rem;
            width: 11.25rem;
        }

        &_ident {
            max-width: 11.9375rem;
            width: 11.9375rem;
        }

        &-wrapper {
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            &::before {
                font-size: 1rem;
                color: $gray4;
                line-height: 0;
            }

            &_action {
                flex-direction: row;
            }
        }
    }

    &__content {
        
        & > *:nth-child(2n) {

            & .table__cell {
                background: $gray3;
            }
    
            & .table__cell:first-child {
                border-radius: 0.625rem 0 0 0.625rem;
            }
    
            & .table__cell:last-child {
                border-radius: 0 0.625rem 0.625rem 0;
            }
        }
    }

    &_attack &__content,
    &_trap-installations-logs &__content,
    &_bait-distrubutions-logs &__content {

        & > *:nth-child(2n) {

            & .table__cell {
                background: none;
            }
    
            & .table__cell:first-child {
                border-radius: 0;
            }
    
            & .table__cell:last-child {
                border-radius: 0;
            }
        }
        
        & > *:nth-child(3n) {

            & .table__cell {
                background: $gray3;
            }
    
            & .table__cell:first-child {
                border-radius: 0.625rem 0 0 0.625rem;
            }
    
            & .table__cell:last-child {
                border-radius: 0 0.625rem 0.625rem 0;
            }
        }
    }

    &_trap-installations-logs &__content,
    &_bait-distrubutions-logs &__content {

        .table__cell_letter-message {
            border-radius: 0.625rem 0 0.625rem 0.625rem !important;
        }
    }

    &__action-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $gray4;
    }

    &__option-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $gray4;
    }

    &__status-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("../images/ic-ready.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
        }

        &_load::before {
            background-image: url("../images/ic-load.png");
            animation: load 1s linear infinite;
        }
    }

    &__checkbox-quadro {
        display: flex;
        align-items: center;
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

// Классы импорта файлов

.files {
    width: 100%;

    &__dragn-drop {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 12rem;
        border: 1px dashed $gray4;
        border-radius: 0.625rem;
    }

    &__file-icon {
        font-size: 2rem;
        color: $gray4;
        margin-bottom: 0.75rem;
    }

    &__subtitle {
        max-width: 14.4375rem;
        text-align: center;
        font-size: 1.125rem;
        line-height: 2.25rem;

        &_link {
            background: none;
            font-size: 1.125rem;
            line-height: 2.25rem;
        }
    }

    &__dragn-drop-files {
        margin-top: 0.75rem;
    }

    &__file {
        padding: 0.5rem 1rem;
        border: 1px solid $gray1;
        border-radius: 0.625rem;
    }

    &__file-text {
        font-size: 1.125rem;
        line-height: 2.25rem;
    }
}

// Классы фильтров и поиска


.search {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__input {
        max-width: 28.75rem;
    }
}

.filter {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__header {
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__open-content-btn {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $gray4;

        &::before {
            line-height: 0;
        }
    }

    &__btn:not(.filter__data-btn, .filter__delete-btn, .filter__open-content-btn)::before {
        font-size: 1rem;
        color: $gray2;
        transform: rotate(180deg);
        transition: .5s;

        &_active {
            transform: rotate(0);
        }
    }

    &__content {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    &__delete-btn {
        font-size: 2rem;
        color: $gray4;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &::before {
            line-height: 0;
        }
    }

    &__sensor-pop-up {
        max-width: 23.0625rem;
        width: 23.0625rem;
        padding: 0.7rem 1rem 0.5rem;

        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

// Классы статусов

.status {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: $green1;
    box-shadow: 0 0 10px 2px $green2;
    border-radius: 50%;

    &_red {
        background: #E07272;
        box-shadow: 0 0 8px #E07272;
    }

    &_orange {
        background: #F0C52C;
        box-shadow: 0 0 8px #F0C52C;
    }
}

// Классы прогрессбара

.progress-bar {
    width: 100%;
    height: 1rem;
    border-radius: 0.625rem;
    background: $gray3;

    &__value {
        height: 100%;
        border-radius: inherit;
        width: 70%;
        background: $primaryColor;
    }
}