// General Classes

// Базовые классы

.container {
    width: 100%;
    max-width: calc($containerWidth + $containerPadding1 * 2);
    padding: 0 $containerPadding1;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        display: inline-block;
        width: 9.36044rem;
        height: 3.01963rem;
        background-image: url("../images/logo.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_black &__link {
        background-image: url("../images/logo-black.svg");
    }

}

.none {
    display: none !important;
}

.hidden {
    position: absolute;
    visibility: hidden !important;
    opacity: 0;
    left: -99999px;
    top: -99999px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    * {
        cursor: not-allowed;
    }
}

.active {

    i,
    .filter__btn:not(.filter__data-btn,.filter__delete-btn,.filter__open-content-btn)::before {
        transform: rotate(0);
    }
}

// Классы инпутов

// Шаблоны

%input {
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    background: $gray3;
    border-radius: 0.625rem;
    border: 1px solid $gray1;
    color: $black;
    font-size: 1.125rem;
    line-height: 2.25rem;
}

// Классы

.theme-checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &__night-icon {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        color: $gray1;
    }

    &__sun-icon {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        color: $primaryColor;
    }
}

.checkbox {

    &__input {
        display: none;
    }

    &__label {
        display: block;
        width: 2.9375rem;
        height: 1.75rem;
        background: $gray1;
        border-radius: 0.875rem;
        padding: 0.38rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s;

        &::before {
            content: "";
            width: calc(50% - 1px);
            height: 100%;
            background: $white;
            border-radius: 50%;
            display: inline-block;
            transition: .3s;
        }
    }

    &__input:checked + &__label {
        background: $primaryColor;
    }

    &__input:checked + &__label::before {
        margin-left: calc(50% + 1px);
    }
}

.input {
    position: relative;
    min-height: 3.25rem;
    max-width: 100%;
    width: 100%;

    &_black-placeholder {

        .input__input {
            &::placeholder {
                color: $black;
            }
        }
    }

    &_mini-title-black {

        .input__mini-title,
        .input__select-value {
            color: $black;
        }
    }

    &_mini-title-gray {

        .input__select-value,
        .input__mini-title {
            color: $gray4;
        }
    }

    &_single {

        .input__input {
            padding-right: 1rem;
        }
    }

    &_no-background {
        
        .input__input {
            background: none;
        }
    }

    &_example {
        margin-bottom: 1.5rem;
    }

    &__mini-title {
        max-width: calc(100% - 0.5rem);
        position: absolute;
        top: 0;
        left: 1rem;
        background: $white;
        border-radius: 0.2rem;
        font-size: 0.875rem;
        font-weight: $medium;
        line-height: 0.75rem;
        transform: translate(0, -50%);
        padding: 0.1rem;
        color: $gray4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__input {
        @extend %input;
        border-radius: 0.625rem;
        padding-right: 3rem;
        height: inherit;
        max-width: inherit;
        width: inherit;
        resize: inherit;
        min-height: inherit;
        transition: .5s;

        &::placeholder {
            color: $gray4;
        }

        &:focus {
            border-color: $primaryColor;
        }
    }

    &__btn,
    &__item {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        color: $gray4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        &_drop-down {
            font-size: 1rem;
            transform: rotate(180deg);
        }

        &_drop-down-calendare {
            font-size: 1.5rem;
            transform: rotate(0);
        }

        &_drop-down-active:not(.input__item_drop-down-calendare) {
            transform: rotate(0);
        }

        &::before {
            line-height: 0;
        }
    }

    &__select-block {
        @extend %input;
        border-radius: 0.625rem;
        max-width: inherit;
        min-height: inherit;
        display: flex;
        align-items: center;
    }

    &__select-value {
        font-size: 1.125rem;
        line-height: 2.25rem; 
    }

    &__example-text {
        position: absolute;
        top: calc(100% + 0.25rem);
        left: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $gray4;
    }
}

.select-input-2 {
    position: relative;

    &__open-section {
        width: 100%;
        cursor: pointer;
    }

    &__hidden-section {
        width: 100%;
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        z-index: 2;
        transition: .5s;
    }
}

.checkbox-quadro {

    &__input {
        display: none;
    }

    &__label {
        display: inline-flex;
        align-items: center;
        gap: 0.63rem;
        cursor: pointer;

        &::before {
            content: "";
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid $gray4;
            border-radius: 0.25rem;
            transition: .5s;
        }
    }

    &__input:checked + &__label {

        &::before {
            background-image: url("../images/ic-checked.svg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat; 
            border: none;
        }
    }
}

// Классы текста

.title {
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.title-mini {
    font-size: 1.125rem;
    font-weight: $bold;
    line-height: 2.25rem;
}

// Классы блоков

.block {
    background: $white;
    border-radius: 0.625rem;
    padding: 1.5rem;
}

.block-2 {
    background: $white;
    border-radius: 0.625rem;
    
    & > * {
        padding: 0 1.5rem;
    }
}

.stub {
    width: 100%;
    height: 100%;
    background: $gray1;
    border-radius: 0.625rem;
    position: relative;
}

// Классы кнопок

// Шаблоны

%icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    color: $gray4;
}

%btn {
    background: $primaryColor;
    padding: 0.5rem 1.75rem;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    font-weight: $semibold;
    line-height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// Классы

.btn {
    min-width: 4.72rem;
    background: $primaryColor;
    padding: 0.5rem;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    font-weight: $semibold;
    line-height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    padding: 0.5rem 0.95rem;
    border-radius: 3.125rem;
    background: $gray3;
    border: 1px solid $gray1;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 2.25rem;

    &::before {
        font-size: 1.5rem;
        line-height: 0;
        color: $gray4;
    }
}

.link {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $blue2;
}

.gray-btn {
    width: 100%;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: $semibold;
    padding: 1rem;
    background: $gray5;
    border-radius: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.scroll-button {
    @extend %icon-btn;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 0 0.75rem $gray6;

    &:hover {
        opacity: 1;
        background: $primaryColor;
    }
}

// Классы таблиц


.table-block {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem 0 1rem;
        margin-bottom: 1.5rem;
    }

    &__header-right-section {
        display: flex;
        align-items: center;
        gap: 4.12rem;
    }

    &__btn {
        font-size: 1.125rem;
        line-height: 2.25rem;
    }

    &__content {
        border-bottom: 2px solid $gray3;
        padding: 0 0.5rem 1rem 0.5rem;
    }

    &__footer {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__str-per-page,
    &__change-page,
    &__select-page {
        display: flex;
        align-items: center;
    }

    &__left-section,
    &__right-section {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__input {
        max-width: 4.6875rem;
        width: 4.6875rem;
    }

    &__num-input {
        max-width: 2.6875rem;
        width: 2.6875rem;
    }

    &__select-page {
        gap: 1rem;
    }

    &__str-per-page,
    &__change-page {
        gap: 1rem;
    }

    &__change-page-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__change-page-btn {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $gray4;

        &::before {
            line-height: 0;
        }

        &_unactive {
            color: $gray1;
        }
    }

    &__install-btn {
        padding: 0.5rem 1.75rem;
        font-size: 1.125rem;
        line-height: 2.25rem;
        font-weight: $normal;
    }

    &__import-btn,
    &__export-btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
        background: none;
        border: 2px solid $primaryColor;
    }

    &__header_mini {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    &__btn-2 {
        padding: 0.5rem 1.75rem;
    }

    &__mobile-content {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
    }
}

.table {
    width: 100%;

    &_constructor-logs,
    &_attack-logs,
    &_bait-distrubutions-logs {

        .table__cell {
            vertical-align: top;
        }
    }

    &_attack-logs,
    &_trap-installations-logs,
    &_bait-distrubutions-logs {
        border-spacing: 0 0.5rem;
    }

    &__header {
        border-radius: 0.625rem;

        & .table__cell {
            background: $gray5;
        }

        & .table__cell:first-child {
            border-radius: 0.625rem 0 0 0.625rem;
        }

        & .table__cell:last-child {
            border-radius: 0 0.625rem 0.625rem 0;
        }
    }

    &__row {
        border-radius: 0.625rem;
    }

    &__cell {
        padding: 1rem 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
        word-break: break-all;
        
        &_title {
            font-weight: $semibold;
        }

        &_signature {
            max-width: 9.125rem;
        }

        &_settings {
            font-size: 1rem;
            color: $gray4;
        }

        &_hash {
            max-width: 11.625rem;
            width: 11.625rem;
        }

        &_letter-message {
            width: 100%;
            border-radius: 0.625rem !important;
            text-align: left;
            padding: 1rem;
            background: $gray5 !important;
        }

        &_drop-down-active {
            background: $gray5 !important;
            border-radius: 0.625rem 0.625rem 0 0 !important;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 0.5rem;
                background: $gray5;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }

        &_checkbox {
            max-width: 2.1325rem;
            width: 2.1325rem;
        }

        &_option,
        &_start {
            max-width: 5.3125rem;
            width: 5.1325rem;
        }

        &_num {
            max-width: 5.0625rem;
            width: 5.0625rem;
        }

        &_option-2 {
            max-width: 2.25rem;
            width: 2.25rem;
        }

        &_attack {
            max-width: 14.375rem;
            width: 14.375rem;
        }

        &_name {
            max-width: 11.25rem;
            width: 11.25rem;
        }

        &_ident {
            max-width: 11.9375rem;
            width: 11.9375rem;
        }

        &_actions {
            max-width: 6rem;
            width: 6rem;
        }

        &_action-empty {
            max-width: 32.1875rem;
            width: 32.1875rem;
        }

        &-wrapper {
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            &::before {
                font-size: 1rem;
                color: $gray4;
                line-height: 0;
            }

            &_action {
                flex-direction: row;
            }
        }
    }

    &__content {
        
        & > *:nth-child(2n) {

            & .table__cell {
                background: $gray3;
            }
    
            & .table__cell:first-child {
                border-radius: 0.625rem 0 0 0.625rem;
            }
    
            & .table__cell:last-child {
                border-radius: 0 0.625rem 0.625rem 0;
            }
        }
    }

    &_attack-logs &__content,
    &_trap-installations-logs &__content,
    &_bait-distrubutions-logs &__content {

        & > *:nth-child(2n) {

            & .table__cell {
                background: none;
            }
    
            & .table__cell:first-child {
                border-radius: 0;
            }
    
            & .table__cell:last-child {
                border-radius: 0;
            }
        }
        
        & > *:nth-child(3n) {

            & .table__cell {
                background: $gray3;
            }
    
            & .table__cell:first-child {
                border-radius: 0.625rem 0 0 0.625rem;
            }
    
            & .table__cell:last-child {
                border-radius: 0 0.625rem 0.625rem 0;
            }
        }
    }

    &_trap-installations-logs &__content,
    &_bait-distrubutions-logs &__content {

        .table__cell_letter-message {
            border-radius: 0.625rem 0 0.625rem 0.625rem !important;
        }
    }

    &__action-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $gray4;
    }

    &__option-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $gray4;
    }

    &__status-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("../images/ic-ready.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
        }

        &_load::before {
            background-image: url("../images/ic-load.png");
            animation: load 1s linear infinite;
        }
    }

    &__status-icon-2 {
        @extend %icon-btn;

        &::before {
            color: $primaryColor;
        }
    }

    &__checkbox-quadro {
        display: flex;
        align-items: center;
    }
}

.table-item {
    width: 100%;
    background: $white;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);
    border-radius: 0.625rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    &__info-section {
        display: flex;
        flex-direction: column;

        &_row {
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__info-title {
        font-size: 0.875rem;
        font-weight: $semibold;
    }

    &__status {
        min-width: 1.25rem !important;
        width: 1.25rem !important;
        height: 1.25rem !important;
    }

    &__text {
        font-size: 0.875rem;

        &_hash {
            word-break: break-all;
        }
    }

    &__info-btn {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        @extend %icon-btn;

        &_ready {
            
            &::before {
                color: $primaryColor;
            }
        }
    }

    &__drop-down-btn,
    &__link {
        text-align: left;
        display: inline-block;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__buttons-2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__action-btn {
        font-size: 0.875rem;
        font-weight: $normal;
        line-height: 1.5rem;
        padding: 0.5rem 1.75rem;

        &_outline {
            background: none;
            border: 2px solid $primaryColor;
        }
    }

    &__action-btn-2 {
        @extend %icon-btn;

        &::before {
            font-size: 2rem;
        }
    }
}


@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

// Классы импорта файлов

.files {
    width: 100%;

    &__dragn-drop {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 12rem;
        border: 1px dashed $gray4;
        border-radius: 0.625rem;
        cursor: pointer;
        transition: .5s;

        &:hover {
            opacity: 0.5;
        }

        &_active {
            opacity: 0.5;
        }
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__file-icon {
        font-size: 2rem;
        color: $gray4;
        margin-bottom: 0.75rem;
    }

    &__subtitle {
        max-width: 14.4375rem;
        text-align: center;
        font-size: 1.125rem;
        line-height: 2.25rem;

        &_mobile {
            display: none;
        }

        &_link {
            background: none;
            font-size: 1.125rem;
            line-height: 2.25rem;
        }
    }

    &__dragn-drop-files {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__file {
        padding: 0.5rem 1rem;
        border: 1px solid $gray1;
        border-radius: 0.625rem;
    }

    &__file-text {
        font-size: 1.125rem;
        line-height: 2.25rem;
    }

    &__btn,
    &__close-btn {
        max-width: 100%;
        width: 100%;
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        cursor: pointer;
        transition: .5s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__close-btn {
        display: none;
        background: none;
        border: 2px solid $primaryColor;
    }
}

// Классы фильтров и поиска

.search {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);
    flex-wrap: wrap;
    gap: 0.62rem;

    &__input {
        max-width: 28.75rem;
    }
}

.filter {
    width: 100%;
    background: $white;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__open-content-btn {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $gray4;
        transform: rotate(180deg);

        &::before {
            line-height: 0;
            transition: .5s;
        }

        &_active {
            transform: rotate(0deg) !important;
        }
    }

    &__btn:not(.filter__data-btn, .filter__delete-btn, .filter__open-content-btn)::before {
        font-size: 1rem;
        color: $gray2;
        transform: rotate(180deg);
        transition: .5s;

        &_active {
            transform: rotate(0);
        }
    }

    &__save-btn {
        background: $primaryColor;
        border-color: $primaryColor;
    }

    &__content {
        margin-top: 1.25rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        transition: .5s;
    }

    &__delete-btn {
        font-size: 2rem;
        color: $gray4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__sensor-pop-up {
        max-width: 23.0625rem;
        width: 23.0625rem;
        padding: 0.7rem 1rem 0.5rem;

        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

// Классы статусов

.status {
    display: inline-block;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: $green1;
    box-shadow: 0 0 10px 2px $green2;
    border-radius: 50%;

    &_red {
        background: #E07272;
        box-shadow: 0 0 8px #E07272;
    }

    &_orange {
        background: #F0C52C;
        box-shadow: 0 0 8px #F0C52C;
    }
}

// Классы прогрессбара

.progress-bar {
    width: 100%;
    height: 1rem;
    border-radius: 0.625rem;
    background: $gray3;

    &__value {
        height: 100%;
        border-radius: inherit;
        width: 70%;
        background: $primaryColor;
    }
}

// Container Media Queries

@media all and (max-width: 600px) {

    .container {
        max-width: 100%;
        padding: 0 $containerPadding2;
    }

}

// Search Media Queries

@media all and (max-width: 1200px) {

    .search {
        flex-direction: column;
        align-items: flex-start;

        &__input {
            max-width: 100%;
            width: 100%;
        }
    }

}

@media all and (max-width: 600px) {

    .search {
        padding: 0.75rem;
    }

}

// Filters Media Queries

@media all and (max-width: 600px) {

    .filter {
        padding: 0.75rem;
    }

    .round-button {
        font-size: 0.875rem;
        padding: 0 0.5rem;
        line-height: 1.625rem;
    }

}

// Table Media Queries

@media all and (max-width: 1000px) {

    .container:not(.trap-install__container) {

        .table-block {

            &__header-right-section {
                gap: 1rem;
            }
        }

    }
}

@media all and (max-width: 900px) {

    // .container:not(.trap-install__container) {

        .table-block {
            background: none;
            box-shadow: none;

            &__content {
                display: none;
            }

            &__header,
            &__footer {
                padding: 0;
                border: none;
            }

            &__header {
                margin-bottom: 0.75rem;
            }

            &__btn {
                background: $primaryColor;
                padding: 0.5rem 1.75rem;
                border-radius: 0.625rem;
                font-size: 0.75rem;
                font-weight: $semibold;
                line-height: 1rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &_outline {
                    background: none;
                    border: 2px solid $primaryColor;
                }
            }

            &__footer {
                flex-direction: column;
                align-items: flex-start;
                gap: 0.75rem;
                margin-bottom: 0.75rem;
            }

            &__right-section,
            &__left-section {
                flex-direction: column;
                align-items: flex-start;
                gap: 0.75rem;
            }

            &__change-page-btn {
                font-size: 1.5rem;
            }

            &__mobile-content {
                display: grid;
            }

            &__input {

                .input__select-value {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    color: $gray4;
                }
            }

            &__num-input {

                .input__input {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    color: $gray4;
                }
            }
        }

    // }

}

@media all and (max-width: 680px) {

    // .container:not(.trap-install__container) {

        .table-block {

            &__mobile-content {
                grid-template-columns: 1fr;
            }
        }

    // }

}

@media all and (max-width: 600px) {

    // .container:not(.trap-install__container) {

        .table-block {

            &__header {
                flex-direction: column;
                align-items: flex-start;
                gap: 0.75rem;
            }

            &__btn {
                width: 100%;
            }

            &__strings-text,
            &__current-page {
                font-size: 0.875rem;
            }

            &__header-right-section {
                flex-direction: column-reverse;
                gap: 0.75rem;
                width: 100%;

                .table-block__btn {
                    font-size: 0.875rem;
                    font-weight: $normal;
                    line-height: 1.5rem;
                }
            }

            &__input,
            &__num-input {
                min-height: 2.5rem;
                height: 2.5rem;
            }

            &__title {
                font-size: 1.125rem !important;
                font-weight: $semibold !important;
                line-height: 1.625rem !important;
            }
        }

    // }

}

// Titles Media Queries

@media all and (max-width: 600px) {

    .title-mini {
        font-size: 0.875rem;
        line-height: 1.625rem;
    }

}

@media all and (max-width: 500px) {

    .title {
        font-size: 1rem;
        line-height: 1.625rem;
    }

}

@media all and (max-width: 400px) {

    .title {
        font-size: 0.875rem;
    }

}

// Input Media Queries

@media all and (max-width: 600px) {

    .input {

        &__select-value {
            font-size: 0.875rem; 
            line-height: 1.5rem;
        }

        &__input {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
        
    }

}

// Files Media Queries

// Media Querie 600px

@media all and (max-width: 600px) {

    .files {

        &__btn,
        &__close-btn {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &__dragn-drop {
            min-height: 4.75rem;
        }

        &__dragn-drop > * {
            display: none;
        }

        &__subtitle {

            &_mobile {
                display: inline-block;
            }
        }
    }

}

// Media Querie 500px

@media all and (max-width: 500px) {

    .files {

        &__close-btn {
            display: inline-flex;
        }
    }

}