// Fonts Variables

$primaryFont: "Montserrat";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #F9CF3D;
$primaryGradient: linear-gradient(180deg, rgba(249, 207, 61, 0.33) -22.91%, rgba(249, 207, 61, 0.00) 100%);

$black: #434A61;
$white: white;

$darkBlue1: #191F2F;

$gray1: #D1D8E2;
$gray2: #515E72;
$gray3: #F5F7FA;
$gray4: #9AA2AD;
$gray5: #EBEEF2;

$green1: #5EBB00;
$green2: rgba(94, 187, 0, 0.50);
$green3: #69C85A;

$blue1: #0085FF;
$blue2: #195DC2;
$blue3: #5498FF;

$red1: #FF6157;
$red2: #E07272;

$purple1: #8A5AC8;

$yellow1: #F0C52C;

// Container Variables

$containerWidth: 96.25rem;
$containerPadding: 0.94rem;