// Bait Install Styles

.bait-install {

    &__header {
        margin-bottom: 1.5rem;
    }

    &__btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
    }
}