// Header Styles

.header {
    width: 100%;
    background: $white;
    min-height: 5.25rem;
    padding: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__container {
        flex-direction: column;
    }

    &__row {
        width: 100%;

        &:first-child {
            justify-content: space-between;
        }

        &:last-child {
            display: none;
            padding-top: 0.75rem;
            border-top: 2px solid $gray5;
        }
    }

    &__section {

        &_mobile {
            display: none;
        }

        &:nth-child(3) {
            gap: 1.25rem;
        }
    }

    &__btn {
        @extend %icon-btn;
        font-size: 2rem;
    }

    &__input {
        max-width: 16.25rem;
        width: 16.25rem;
    }

    &__drop-down-btn {
        @extend %icon-btn;
        font-size: 2rem;
    }

    &__page-name {
        text-align: center;
        font-size: 0.75rem;
        font-weight: $semibold;
        line-height: 1rem;
    }
}

.dark-mode .header {
    background: $gray8;

    &__row:last-child {
        border-top-color: $gray17;
    }
}

// Media Queries

@media all and (max-width: 1200px) {

    .header {
        padding: 0.75rem 0;

        &__section {
            display: none;

            &_mobile {
                display: block;
            }
        }
    }

}

@media all and (max-width: 600px) {

    .header {

        &__row {
            &:first-child {
                margin-bottom: 0.75rem;
            }

            &:last-child {
                display: flex;
            }
        }
    }
}

@media all and (max-width: 400px) {

    .header {

        &__drop-down-btn {
            font-size: 1.5rem;
        }
    }

}