// Header Styles

.header {
    width: 100%;
    background: $white;
    min-height: 5.25rem;
    padding: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__container {
        justify-content: space-between;
    }

    &__section:last-child {
        gap: 1.25rem;
    }

    &__btn {
        @extend %icon-btn;
        font-size: 2rem;
    }

    &__input {
        max-width: 16.25rem;
        width: 16.25rem;
    }
}