// Home Styles

.home {
    width: 100%;

    &__container {
        display: grid;
        grid-template-areas: "column1 column1 column1"
                            "column2 column3 column4"
                            "column5 column5 column5";
        row-gap: 1.5rem;
        column-gap: 1.25rem;
    }

    &__container > *:nth-child(1) {
        grid-area: column1;
    }

    &__container > *:nth-child(2) {
        grid-area: column2;
    }

    &__container > *:nth-child(3) {
        grid-area: column3;
    }

    &__container > *:nth-child(4) {
        grid-area: column4;
    }

    &__container > *:nth-child(5) {
        grid-area: column5;
    }

    &__last-informations-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }

    &__calendare {
        max-width: 39.625rem;
        width: 39.625rem;
        left: 100%;
        transform: translate(-100%, 0);
    }
}

.statistic {

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.75rem;
    }

    &__header-section:last-child {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $gray4;

        &::before {
            line-height: 0;
        }
    }

    &__input {
        max-width: 17.9375rem;
        width: 17.9375rem;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13.92rem;
    }

    &__column-header-row {

        &:first-child {
            margin-bottom: 0.5rem;
        }

        &:last-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__column-settings {
        @extend %icon-btn;
        font-size: 1.5rem;
    }

    &__values-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__values-item {
        display: flex;
        align-items: center;
        gap: 0.53rem;

        &::before {
            content: "";
            width: 0.4375rem;
            height: 0.4375rem;
            background: $gray1;
            display: inline-block;
            border-radius: 50%;
        }

        &_blue::before {
            background: $blue1;
        }

        &_green::before {
            background: $green3;
        }

        &_yellow::before {
            background: $primaryColor;
        }

        &_red::before {
            background: $red1;
        }
    }

    &__value {
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

}

.information {
    width: 100%;

    &__column {
        position: relative;

        &_grid-diagram {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 8.375rem 4rem;
            gap: 0.25rem;

            .information__column-row {
                display: flex;
                gap: 0.25rem;
            }

            .information__grid-item {
                width: 100%;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 0.625rem;
                border: 2px solid rgba(0, 0, 0, 1);
                padding: 0.75rem;
                position: relative;

                &_red {
                    border-color: $red1;
                    background: $redGradient;
                }
        
                &_yellow {
                    border-color: $primaryColor;
                    background: $yellowGradient;
                }
        
                &_purple {
                    border-color: $purple1;
                    background: $purpleGradient;
                }
        
                &_blue {
                    border-color: $blue1;
                    background: $blueGradient;
                }
        
                &_green {
                    border-color: $green3;
                    background: $greenGradient;
                }
            }

            .information__grid-name,
            .information__grid-value {
                font-size: 0.75rem;
                font-weight: $semibold;
                line-height: 1rem;
                display: inline-block;
            }

            .information__grid-value {
                position: absolute;
                bottom: 0.75rem;
                right: 0.75rem;
            }
        }
    }

    // Блоки видов диаграм

    &_round-diagram {
        
        .information__row {
            display: grid;
            grid-template-columns: 1fr 8.5625rem;
            align-items: center;
            gap: 1.75rem;
        }

        .stub {
            height: 8.625rem;
        }
    }

    &_grid-diagram {
        .information__row {
            display: grid;
            grid-template-columns: 1fr 32.685rem;
            align-items: center;
            gap: 2.5rem;
        }

        .information__column:first-child {
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 1px;
                background: $gray1;
                position: absolute;
                left: calc(100% + 1.25rem - 1px);
                top: 0;
            }
        }

        .information__list > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &_column-diagram {
        .information__row {
            display: grid;
            grid-template-columns: 1fr 24rem;
            align-items: center;
            gap: 2.5rem;
        }

        .information__column:first-child {
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 1px;
                background: $gray1;
                position: absolute;
                left: calc(100% + 1.25rem - 1px);
                top: 0;
            }
        }

        .stub {
            height: 12.625rem;
        }

        .information__list > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    // Основные стили

    &__header {
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $gray3;
    }

    &__settings {
        @extend %icon-btn;
        font-size: 1.5rem;
    }

    &__content {
        padding: 1.5rem;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0;
    }

    &__name {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 0.56rem;

        &_color::before {
            content: "";
            min-width: 0.8rem;
            width: 0.8rem;
            height: 0.8rem;
            background: $gray4;
            border-radius: 50%;
            border: 3px solid $white;
            display: inline-block;
        }

        &_color-red::before {
            background: $red1;
        }

        &_color-yellow::before {
            background: $primaryColor;
        }

        &_color-purple::before {
            background: $purple1;
        }

        &_color-blue::before {
            background: $blue1;
        }

        &_color-green::before {
            background: $green3;
        }
    }

    &__value {
        color: $gray4;
    }

    &__graphic-1-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: $medium;
        line-height: 2.25rem;
    }
}