// Modal Windows Styles

// Поп-ап окна

.modal-windows {
    position: absolute;
}

.calendare {
    max-width: 20.375rem;
    width: 20.375rem;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 2;

    &_double {
        max-width: 39.625rem;
        width: 39.625rem;

        .calendare__section {

            &:first-child {
                padding-right: 1.5rem;
            }

            &:last-child {
                border-left: 1px solid $gray1;
                padding-left: 1.5rem;
            }
        }

    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__prev-btn,
    &__next-btn {
        @extend %icon-btn;
        font-size: 1rem;
        color: $gray2;
    }

    &__current-month {
        font-size: 1.25rem;
        font-weight: $semibold;
        line-height: 2.25rem;
    }

    &__cell {
        padding: 0.31rem 0.63rem;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

        &_title {
            font-weight: $semibold;
        }

        &_out-month {
            color: $gray4;
        }

        &_active-start {
            border-radius: 0.625rem 0rem 0rem 0.625rem;
            background: $primaryColor;
        }

        &_active-end {
            border-radius: 0rem 0.625rem 0.625rem 0rem;
            background: $primaryColor;
        }

        &_active {
            background: $primaryGradient;
        }
    }
}

.dark-mode .calendare {
    background: $gray8;
    color: $gray15;
    box-shadow: 0 4px 30px 0 $gray13;

    .btn {
        color: $gray14;
    }

    &__cell {
        color: $gray15;

        &_out-month {
            color: $gray10;
        }
    }
}

.select-diapason {

    &__header {
        margin-bottom: 1.75rem;
    }

    &__title {
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-bottom: 0.75rem;
    }

    &__content-title {
        margin-bottom: 0.75rem;
    }

    &__button-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input-block {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 1.25rem;
    }

    &__input {
        max-width: 4rem;
        width: 4rem;
        border-radius: 0.625rem;
    }

    &__save-btn {
        width: 100%;
        min-width: 100%;
    }

    &__checkbox-quadro {
        margin-bottom: 1.25rem;
    }

    &__btn {

        &_active {
            opacity: 0.5;
        }
    }
}

.pop-up-wrapper {
    position: relative;
}

.pop-up {
    max-width: 15.125rem;
    width: 15.125rem;
    position: absolute;
    top: 50%;
    left: -1rem;
    z-index: 1;
    background: $white;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.20);
    transform: translate(-100%, -50%);
    transition: .5s;

    &::before {
        content: "";
        width: 0.625rem;
        height: 1.25rem;
        background: $white;
        border-radius: 0.625rem;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        position: absolute;
        left: calc(100% - 1px);
        top: 50%;
        transform: translate(0, -50%);
    }
}

.dark-mode .pop-up {
    background: $gray8;

    &::before {
        background: $gray8;
    }
}

.pop-up-2 {
    max-width: 25.25rem;
    width: 25.25rem;
    background: $white;
    border-radius: 0.625rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.20);

    &__checkbox-quadro:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__input {
        max-width: 100%;
        width: 100%;
    }
    
    &__btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    &__btn {
        padding: 0.5rem 1.75rem;
    }
}

.dark-mode .pop-up-2 {
    background: $gray8;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        max-width: 25.25rem;
        width: 25.25rem;
        background: $white;
        border-radius: 0.625rem;
        box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.20);
    }

    &__header {
        padding: 0.75rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $gray3;
    }

    &__skip-btn {
        @extend %icon-btn;
        font-size: 1.25rem;
    }

    &__content {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    &__success-img {
        width: 3.75rem;
    }

    &__success-message {
        font-size: 1.25rem;
        line-height: 2.25rem;
        text-align: center;
    }

    &__btn {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem;
    }

    &__checkbox-section {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        &_vertical {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__textarea {
        resize: none;
        height: 12.375rem;
    }

    &__copy-btn {
        @extend %icon-btn;
        font-size: 2rem;
    }
    
    .select-input-2 {
        width: 100%;
    }

    &__pop-up {
        max-width: 17.75rem;
        width: 17.75rem;
    }

    &__buttons-wrapper {
        width: 100%;

        &_mobile {
            display: none;
        }
    }

    &__btn {
        width: 100%;
        padding: 0.5rem 1.75rem;

        &_outline {
            background: none;
            border: 2px solid $primaryColor;
        }

        &_mobile {
            display: none;
        }
    }

    &_delete-success,
    &_load {

        .modal-window__wrapper {
            width: 100%;
            max-width: 31.5625rem;
        }

        .modal-window__header {
            display: flex !important;
        }
    }

    &__status-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            width: 3.5rem;
            height: 3.5rem;
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
        }

        &_load::before {
            background-image: url("../images/ic-load-2.png");
            animation: load 1s linear infinite;
        }
    }

    &_active-4 {

        .modal-window__content {
            min-height: 13rem;
        }

        .active-modal__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input,
        .active-modal__inputs-wrapper,
        .active-modal__step-section {
            max-width: 50.5625rem !important;
            width: 100%;
        }

        .active-modal__inputs-wrapper {
            max-width: 100% !important;
            width: 100%;
            justify-items: center;
        }
    }

    &_active-5,
    &_active-6,
    &_active-7,
    &_active-8 {
        
        .active-modal__form,
        .active-modal__btn-wrapper {
            width: 100%;
            max-width: 50.5625rem;
        }

        .active-modal__btn-wrapper {
            justify-content: space-between;
        }
    }

    &__error-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__error-text {
        display: inline-block;
        font-weight: $semibold;
        font-size: 1.25rem;
    }

    &_active-9 {

        .active-modal__btn-wrapper {
            justify-content: space-between;
        }
    }
}

.dark-mode .modal-window {

    &__header {
        border-bottom-color: $gray9;
    }

    &__btn {

        &_outline {
            color: $gray11;
        }
    }
}

.modal-window-2 {

    &__wrapper {
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
    
    &__header {
        border-bottom: 0;
        padding: 0;
        margin-bottom: 3rem;
    }

    &_content {
        padding: 0;
        align-items: flex-start;
        gap: 1.5rem;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__title-mini {
        font-weight: $medium;
    }

    &__subtitle {
        font-weight: $medium;
    }

    &__btn {
        width: 100%;
    }
}

.modal-window-3 {

    &__wrapper {
        max-width: 37.5rem;
        width: 37.5rem;
    }

    &__content {
        align-items: flex-start;
        gap: 0.75rem;
    }

    &__buttons-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        &_reverse {
            justify-content: flex-end;
        }
    }

    &__download-btn {
        padding: 0.5rem 1.75rem;
    }

    &__textarea {
        height: 8.875rem;
    }
}

.modal-window-4 {

    &__wrapper {
        max-width: 47.5rem;
        width: 47.5rem;
    }

    &__content {
        gap: 0.75rem;
        padding: 1rem 1rem 1.5rem;
    }
}

.select-drop-down {
    max-width: 31.25rem;
    width: 31.25rem;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &_mini {
        max-width: 22rem;
        width: 22rem;
    }

    &_all-width {
        max-width: 100%;
        width: 100%;
    }

    &__value {
        font-size: 1.125rem;
        line-height: 2.25rem;
        padding: 0.5rem 1rem;
        text-align: left;
    }
}

.dark-mode .select-drop-down {
    background: $gray8;
}

.modal-window-5,
.modal-window-9 {

    &__wrapper {
        max-width: 25.25rem;
        width: 25.25rem;
    }

    &__buttons-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        width: 100%;
    }

}

.modal-window-9 {

    &__text {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
}

.modal-window-6 {

    &__wrapper {
        max-width: 45.25rem;
        width: 45.25rem;
    }

    &__success-message,
    &__warning-message {
        text-align: center;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    &__skip-btn,
    &__remove-btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
    }

    &__skip-btn {
        background: none;
        border: 2px solid $primaryColor;
    }
}

.dark-mode .modal-window-6 {

    &__skip-btn {
        color: $gray11;
    }
}

.modal-window-7,
.modal-window-8 {
    
    &__wrapper {
        max-width: 45.25rem;
        width: 45.25rem;
    }

    &__inputs-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
    }
}

.modal-window-8 {
    &__wrapper {
        max-width: 39.375rem;
        width: 39.375rem;
    }
}

.install-modal,
.active-modal,
.delete-modal {

    &__wrapper {
       max-width: 63.75rem;
       width: 63.75rem; 
    //    min-height: 40.75rem;
    }

    &__content {
        padding: 1.5rem;
        min-height: 37rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &_success {
            gap: 0;
        }

        &_table {
            overflow-y: auto;
            overflow-x: hidden;
            height: 43.75rem;
            min-height: auto;
            padding-top: 2.5rem;
            justify-content: flex-start;

            .active-modal__step-section {
                max-width: 50.5625rem;
                width: 100%;
            }

            .active-modal__inputs-wrapper {
                max-width: 100%;
                width: 100%;

                .input {
                    max-width: 100% !important;
                    width: 100% !important;
                }
            }
        }
    }

    &__table-block {
        background: none;
        padding: 0;
        box-shadow: none;

        .table-block__header,
        .table-block__content,
        .table-block__footer {
            padding: 0;
        }

        .table-block__header {
            margin-bottom: 0.5rem;
        }

        .table-block__footer {
            margin-top: 1rem;
        }

        .table-block__title {
            font-size: 1.25rem;
            font-weight: $semibold;
            line-height: 2.25rem;
        }

        .table-block__add-trap-btn {
            font-size: 0.75rem;
            line-height: 1rem;
            padding: 0.5rem 1.75rem;
        }
    }

    &__table {
        
        .table__cell {
            text-align: left;
        }
    }

    &__tables-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__progress {
        margin-bottom: 1.5rem;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__inputs-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        max-width: 31.25rem;
        width: 31.25rem;
    }

    &__input-block {
        width: 100%;
    }

    .input:not(.table-block__num-input, .table-block__input) {
        max-width: 31.25rem;
        width: 100%;
    }

    &__btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__next-btn,
    &__install-btn,
    &__mobile-skip-btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem; 
    }

    &__mobile-skip-btn {
        display: none;
        background: none;
        border: 2px solid $primaryColor;
    }

    &__outline-btn {
        padding: 0.5rem 1.75rem;
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        background: none;
        border: 2px solid $primaryColor;
    }

    &__input {

        .input__select-block {
            max-width: 31.25rem;
            width: 100%;
        }
    }

    &__inputs-row {
        width: 100%;
        display: flex;
        gap: 1rem;

        .input {
            max-width: 100%;
            width: 100%;
        }
    }

    &__success-message {
        margin-top: 0.5rem;
    }

    &__buttons-wrapper {
        display: flex;
        margin-top: 1.25rem;
        gap: 0.5rem;
    }

    &__install-btn,
    &__skip-btn {
        font-size: 1.125rem;
        font-weight: $normal;
        line-height: 2.25rem;
        padding: 0.5rem 1.75rem;
    }

    &__skip-btn {
        background: none;
        border: 2px solid $primaryColor;
    }

    &__input-wrapper {
        position: relative;   
    }

    &__pop-up {
        max-width: 17.75rem;
        width: 100%;
        // transform: translate(calc(0px + 0.625rem + 0.5rem), calc(-50%));
        // left: 100%;

        // &::before {
        //     top: 50%;
        //     transform: translate(-100%, -50%);
        //     clip-path: polygon(0 50%, 100% 100%, 100% 0);
        //     left: 1px;
        // }
    }

    &__inputs-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &_double {
            gap: 0.5rem;
        }
    }

    &__inputs-group-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__input-title {

        &_big {
            font-size: 1.125rem;
            line-height: 2.25rem;
        }
    }

    &__trap-pop-up {
        max-width: 100%;
        width: 100%;
        padding: 0.7rem 1rem 0.5rem;

        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__pop-up-input {
        max-width: 100% !important;
        width: 100% !important;
    }

    &__trap-pop-up-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__step-section{
        transition: .5s;
    }
}

.active-modal {

    &__skip-btn {
        display: none;
    }
}

.delete-modal {

    &__inputs-group-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    &__mobile-title {
        font-size: 1.125rem;
        line-height: 2.25rem;
        display: none;
    }

    &__form {
        width: 100%;
    }
    
    &__wrapper {
        max-width: 31.5625rem;
        width: 31.5625rem;
    }

    &__content {
        min-height: 17.625rem;
        justify-content: flex-start;
    }

    &__inputs-wrapper, .input {
        max-width: 28.5625rem !important;
        width: 100% !important;
    }

    &__inputs-wrapper {
        width: 100%;
        gap: 1rem;
    }
}

.dark-mode .active-modal,
.dark-mode .delete-modal,
.dark-mode .install-modal {

    &__skip-btn,
    &__mobile-skip-btn {
        color: $gray11;
    }
}

.progress {
    display: flex;
    justify-content: center;
    gap: 3rem;

    & > *:not(:last-child) {
        position: relative;

        &::after {
            content: "";
            width: 2rem;
            height: 0.25rem;
            background: $gray5;
            position: absolute;
            top: 50%;
            left: calc(100% + 0.5rem);
            transform: translate(0, -50%);
        }
    }

    &__item {
        font-size: 1.125rem;
        font-weight: $bold;
        line-height: 2.25rem;
        width: 3rem;
        height: 3rem;
        background: $gray5;
        border-radius: 50%;
        color: $gray4;

        &_current {
            color: $black;
            background: $primaryColor;
        }

        &_passed {
            background: none;
            border: 2px solid $primaryColor;
        }
    }
}

.dark-mode .progress {

    & > *:not(:last-child) {

        &::after {
            background: $gray17;
        }
    }

    &__item {
        background: $gray17;
        color: $gray10;

        &_current {
            color: $black;
            background: $primaryColor;
        }

        &_passed {
            color: $gray10 !important;
            background: none;
        }
    }
}

// Media Queries

// Media Querie 600px

@media all and (max-width: 600px) {

    .install-modal,
    .active-modal,
    .delete-modal {

        &__buttons-wrapper {
            flex-direction: column;
        }

        &__inputs-wrapper {
            width: 100% !important;
        }

        &__form {
            width: 100%;
        }
    
        &__step-section{
            width: 100%;
        }

        &__drop-down {
            width: 100%;
        }
    }

}

// Media Querie 500px

@media all and (max-width: 500px) {

    .install-modal,
    .active-modal,
    .delete-modal {

        &__content {
            min-height: auto !important;
        }

        &__progress {
            margin-bottom: 0;
        }

        &__title {
            font-size: 1.125rem;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }

        .input {

            &__select-value,
            &__input {
                font-size: 1.125rem;
                line-height: 2.25rem;
            }
        }

        &__mobile-skip-btn {
            display: inline-flex;
        }

        &__btn-wrapper,
        &__buttons-wrapper {
            flex-direction: column;
            gap: 0.5rem;
        }

        &__buttons-wrapper {
            width: 100%;
            margin-top: 0;
        }
        
        &__success-message {
            font-size: 1.125rem;
            line-height: 2.25rem;
            text-align: center;
            margin-top: 0;
        }

        &__inputs-row {
            flex-direction: column;
        }

        .btn {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &__mobile-title {
            display: inline-block;
        }

        &__skip-btn {
            display: inline-flex;
        }

        &__table-block {

            &_baits {
                display: none !important;
            }
        }
    }

    .modal-window {

        &__header {
            display: none;
        }

        &__content {
            min-height: auto;
            max-height: calc(100vh - 10vh);
            padding: 0.75rem;
            gap: 1rem;
            justify-content: center;
        }

        // &_success-2 {

        //     .modal-window__content {
        //         min-height: 11.5rem;
        //     }
        // }

        &__success-message {
            font-size: 1.125rem;
            line-height: 2.25rem;
            text-align: center;
            margin-top: 0;
            font-weight: $bold;
        }

        &__btn {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &__buttons-wrapper {

            &_mobile {
                display: flex;
            }
        }
    }

    // .modal-window-4 {

    //     &__content {
    //         min-height: 18.75rem;
    //     }
    // }

    .modal-window-3,
    .modal-window-5 {

        .modal-window__header {
            display: flex;
        }

        .modal-window__title {
            font-size: 1.125rem;
            line-height: 2.25rem;
        }

        &__content {
            padding: 1.5rem;
        }

        &__download-btn {
            width: 100%;
        }
    }

    .modal-window-5 {

        &__btn {
            font-size: 0.875rem;
            line-height: 1.5rem;

            &:first-child {
                background: none;
                border: 2px solid $primaryColor;
            }
        }
    }

    .modal-window-9 {

        &__btn {

            &_mobile {
                display: inline-flex;
            }
        }

        &__text {
            text-align: center;
        }
    }

    .modal-window-7 {

        &__btn-wrapper,
        &__buttons-wrapper {
            flex-direction: column;
            gap: 0.5rem;
        }

        .btn {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }

    .modal-window-6 {

        &__btn-wrapper,
        &__buttons-wrapper {
            width: 100%;
            flex-direction: column;
            gap: 0.5rem;
        }

        .btn {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &__success-message {
            font-size: 1.25rem;
            line-height: 2.25rem;
            font-weight: $normal;
        }
    }

    .modal-window-8 {

        &__success-message {
            font-size: 1.25rem;
            line-height: 2.25rem;
            font-weight: $normal;
        }
    }

}

// Progress Item Media Queries

@media all and (max-width: 500px) {

    .progress {
        gap: 1.96rem;

        &__item {
            width: 1.9565rem;
            height: 1.9565rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        & > *:not(:last-child) {
    
            &::after {
                width: 1.30438rem;
                height: 0.16306rem;
                left: calc(100% + 0.3rem);
            }
        }
    }

}

// Calendare Media Queries

// Media Querie 768px

@media all and (max-width: 768px) {

    .home {

        &__calendare {
            max-width: 100% !important;
            width: 100% !important;
            left: 0 !important;
            transform: translate(0, 0) !important;
        }
    }

    .calendare {

        &_double {
            flex-direction: column;
            max-width: 100% !important;
            width: 100% !important;

            .calendare__section {

                &:first-child {
                    padding-right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 1.5rem;
                    border-bottom: 1px solid $gray1;
                }
    
                &:last-child {
                    padding-top: 1.5rem;
                    border-left: none;
                    padding-left: 0;
                }
            }
        }
    }

    .select-diapason {

        &__header {
            text-align: center;
        }
    }

}

// Media Querie 500px

@media all and (max-width: 500px) {

    .calendare {
        padding: 0.5rem;

        &__cell {
            font-size: 0.75rem;
        }
    }

}