// User Managment Styles

.user-managment {
    width: 100%;

    &__container {
        display: grid;
        grid-template-areas: "info info"
                            "users none";
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    &__info {
        grid-area: info;
    }

    &__users {
        grid-area: users;
    }
}

.user-info {
    background: $white;
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.75rem;
        margin-bottom: 1.5rem;
    }

    &__section-header {
        margin-bottom: 2rem;
    }

    &__inputs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__input-title {
        margin-bottom: 0.5rem;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        &::before {
            @extend %icon-btn;
            line-height: 0;
        }
    }

    &__btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        font-size: 1.125rem;
        font-weight: $normal;
        padding: 0.5rem 1.75rem;
        line-height: 2.25rem;
    }
}

.users {
    background: $white;
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 30px 0px rgba(26, 54, 108, 0.05);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }

    &__btn {
        padding: 0.5rem 1.75rem;
    }

    &__wrapper {

        & > *:not(:last-child, :first-child) {
            padding: 0.75rem 0;
            border-bottom: 2px solid $gray1;
        }
    }

    &__user {

        &:first-child {
            padding-bottom: 0.75rem;
            border-bottom: 2px solid $gray1;
        }

        &:last-child {
            padding-top: 0.75rem;
        }
    }
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__role {
        color: $gray4;
        font-size: 0.75rem;
        font-weight: $semibold;
        line-height: 1rem;
    }

    &__left-section {
        display: flex;
        flex-direction: column;
    }

    &__right-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__email {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    &__btn {
        @extend %icon-btn;
        font-size: 2rem;
    }
}

.dark-mode .user {

    &__role {
        color: $gray10;
    }
}

.dark-mode .users {

    &__wrapper {

        & > *:not(:last-child, :first-child) {
            border-bottom: 2px solid $gray12;
        }
    }

    &__user {

        &:first-child {
            padding-bottom: 0.75rem;
            border-bottom: 2px solid $gray12;
        }
    }
}

// Media Queries

// Media Querie 1000px

@media all and (max-width: 1000px) {

    .user-info {

        &__wrapper {
            grid-template-columns: 1fr;
            gap: 1.75rem;
        }

        &__section-header {
            margin-bottom: 1rem;
        }
    }

    .user-managment {

        &__container {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 0.75rem;
        }
    }

}

// Media Querie 500px

@media all and (max-width: 1000px) {

    .user-info {

        &__title {
            font-size: 1.125rem;
            line-height: 2.25rem;
        }

        &__btn {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        &__wrapper {
            margin-bottom: 1rem;
        }
    }

    .users {

        &__header {
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-size: 1.125rem;
            line-height: 2.25rem;
            margin-bottom: 0.75rem;
        }

        &__btn {
            width: 100%;
        }
    }

    .user {

        &__email {
            font-size: 0.875rem;
            line-height: 1.625rem;
        }
    }

}